:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --tertiary-color: yellow;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h5 {
    font-size: 4rem;
    text-transform: uppercase;
}

h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.main-bg {
    background-image: url('https://i.pinimg.com/originals/d0/83/11/d083111196f0b6bcaa5154a557a01677.jpg');
    background-size:cover;
    background-position: center center;
    color: var(--white-color);
}

.bg-2 {
    background-image: url('../img/bg-2.svg');
    background-size:cover;
    background-position: center center;
    color: var(--primary-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu h1 {
    font-size:  2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.youtube-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.intro-content {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 70rem;
    text-align: center;
}

.grid-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    height: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow:hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--tertiary-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 2px 2px 5px 2px var(--secondary-color);
}

.form-group button {
    border: 0.3rem solid;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    border: 0.3rem solid var(--tertiary-color);
    background: var(--primary-color);
    color: var(--white-color);
}

.form-group ::placeholder {
    color: var(--primary-color);
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: white;
}

.heart {
    color: var(--secondary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--tertiary-color);
}

@media (max-width: 800px) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}